@import "tailwindcss";

@layer theme {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
    /* Slate 900 */
  }

  .dark {
    --background: #020617;
    /* Slate 950 */
    --foreground: #f8fafc;
    /* Slate 50 */
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

/* Custom Scrollbar for the list */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-600;
}